<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script type="text/javascript">
		
		var nickname = "";
		$(function() {
  			function getParameterByName(name) {
		    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
		    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
		        results = regex.exec(location.search);
		    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
			}
			nickname = getParameterByName('nickname');
			$('#displayMsg').text('hello, ' + nickname + '!');

      	  	$('#btnSendMsg').click(function() {
      	    	$.post('/receivemsg', {
        	   		myMessage: $('#msg').val(),
       	    	})
            	.success(function(res) {
            		console.log(res);
            		$('#message').text($('#message').val()+'\n'+nickname+': ' + res);
            		var scrollTop = $("#message")[0].scrollHeight;  
                         $("#message").scrollTop(scrollTop); 
            	})
        	});

        	$(document).ready(function(){
			    $('#msg').keypress(function(e){
			      	if(e.keyCode==13){
			      		$('#btnSendMsg').click();
			      		$('#msg').val('');
			      	}
			    });
			});
      	});

	</script>
</head>


<body>

	<div id="displayMsg"></div>	<textarea readonly="readonly"; onmouseover="this.focus();" style="BORDER-RIGHT: 2px dashed; BORDER-TOP: 2px dashed; OVERFLOW: auto; BORDER-LEFT: 2px dashed; BORDER-BOTTOM: 2px dashed;OVERFLOW: hidden; WIDTH: 1000px; COLOR: #999; HEIGHT: 300px" onfocus="this.select()"
	id="message" >開始聊天吧！</textarea>
	<input type-'text' size=100 id='msg'>

	<button id="btnSendMsg">SEND</button>

	<script type="text/javascript">

    </script>


</body>
</html>
