<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript">
		
		var nickname = "";
		var socket = io.connect();

		$(function() {
  			function getParameterByName(name) {
		    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
		    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
		        results = regex.exec(location.search);
		    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
			}
			nickname = getParameterByName('nickname');
			$('#displayMsg').text('hello, ' + nickname + '!');

      	  	$('#btnSendMsg').click(function() {
      	  		console.log("send data!");

	        	socket.emit('client_data', {
		            'msg': nickname+': '+$('#msg').val()
		          });

	        	$('#msg').val('');
        	});

        	$(document).ready(function(){
			    $('#msg').keypress(function(e){
			      	if(e.keyCode==13){
			      		$('#btnSendMsg').click();
			      	}
			    });
			});

        	socket.on('message', function(data) {
        		$('#message').text($('#message').val()+'\n'+ data.msg);
             		var scrollTop = $("#message")[0].scrollHeight;  
                          $("#message").scrollTop(scrollTop); 
      		});

      		socket.on('first', function(data){
      			$('#message').text($('#message').val()+'\n'+ data.msg);
      			var scrollTop = $("#message")[0].scrollHeight;  
                          $("#message").scrollTop(scrollTop); 
			});



      	});

		
		

	</script>
</head>


<body>
	<div id="date"></div>
	<div id="displayMsg"></div>	
	<textarea readonly="readonly" style="BORDER-RIGHT: 2px dashed; BORDER-TOP: 2px dashed; OVERFLOW: auto; BORDER-LEFT: 2px dashed; BORDER-BOTTOM: 2px dashed; WIDTH: 1000px; COLOR: #999; HEIGHT: 300px;" onfocus="this.select()" 
	id="message" ></textarea>
	<input type-'text' size=100 id='msg'>

	<button id="btnSendMsg">SEND</button>

</body>
</html>
